 .about-box{
    margin: 70px 140px;
    width: 980px;
 }
 .about-box h1{
    font-size: 40px;
    color: #0c0c1d;
 }
 .about-box p{
    font-size: 18px;
    color: #0c0c1d;
    margin-top: 30px;
 }
 @media screen and (max-width:1128px){
   .header-sec p{
      /* color: white; */
      font-size: 15.5px;
      /* font-weight: 500; */
   }
   .about-box{
      width: 880px;
      margin: auto;
      margin-top: 70px;
   }
 }
 @media screen and (max-width:1035px){
   .about-box{
      width: 800px;
   }
 }
 @media screen and (max-width:982px){
   .about-box{
      width: 720px;
   }
 }
 @media screen and (max-width:787px){
   .about-box{
      width: 620px;
   }
 }
 @media screen and (max-width:664px){
   .about-box{
      width: 550px;
   }
 }
 @media screen and (max-width:584px){
   .about-box{
      width: 470px;
   }
 }
 @media screen and (max-width:511px){
   .about-box{
      width: 400px;
   }
 }